In [33]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn import cross_validation as cv

#  Reading files and merging dataframes

In [ ]:
# read csv of yelp_business.csv
yelp_business_df = pd.read_csv('C:\Users\Kai Liang\Desktop\capstone\yelp_business.csv')

# read csv of yelp_reviews.csv
yelp_review_df = pd.read_csv('C:\Users\Kai Liang\Desktop\capstone\yelp_review.csv')
yelp_review_df.head()

# merging the dataframes of reviews and business
result = pd.merge(yelp_review_df, yelp_business_df, how='outer', on=['business_id'])

# observing only restaurants from the categories column in yelp dataset
list_of_restaurants =  ['Restaurants' in x for x in result['categories']]
restaurants_df = result[list_of_restaurants]
restaurants_df.head()

# taking only restuarants in Montreal to analyse
restaurants_MT = restaurants_df[restaurants_df.city == 'Montréal']
restaurants_MT.reset_index(inplace=True)
restaurants_MT = restaurants_MT.drop('index',axis =1)

In [79]:
restaurants_MT.head()

,review_id,user_id,business_id,stars_x,date,text,useful,funny,cool,name,...,address,city,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0,"""Wilensky's""",...,"""34 Avenue Fairmount Ouest""",Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,1,Diners;Food;Restaurants;Delis
1,vm1b1keOzwHjtGZEPPuYXA,xYciRtVZ1PW4IxSX4oJ1aw,AEx2SYEUJmTxVVB18LlCwA,5,2016-02-22,*The shop was featured on Mind of a Chef with ...,4,3,4,"""Wilensky's""",...,"""34 Avenue Fairmount Ouest""",Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,1,Diners;Food;Restaurants;Delis
2,SXwA9KZ-Nc_hMARk_3cJ7g,5Ymfsf9fAYz-Ds_p0xawVQ,AEx2SYEUJmTxVVB18LlCwA,5,2013-03-29,"As its name suggests, Wilensky's is a lunch co...",9,0,3,"""Wilensky's""",...,"""34 Avenue Fairmount Ouest""",Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,1,Diners;Food;Restaurants;Delis
3,jUzausdZ_ujqe_n8BlBj-g,DVOOF0Z627DyrZ4XKQbTgA,AEx2SYEUJmTxVVB18LlCwA,5,2017-08-08,"Stopped by for the Wilensky's Special, loved i...",0,0,0,"""Wilensky's""",...,"""34 Avenue Fairmount Ouest""",Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,1,Diners;Food;Restaurants;Delis
4,oCRDwF3tszAkeszSfxwthg,5JoKz3mU42Cp906KRXDwJw,AEx2SYEUJmTxVVB18LlCwA,4,2009-01-17,"I have to admit, I am a fan. Just entering the...",4,0,1,"""Wilensky's""",...,"""34 Avenue Fairmount Ouest""",Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,1,Diners;Food;Restaurants;Delis

In [80]:
# look at the shape
print restaurants_MT.shape

# take a look at the dataframe to ensure that it is in order.
restaurants_MT.info()

(93359, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93359 entries, 0 to 93358
Data columns (total 21 columns):
review_id       93359 non-null object
user_id         93359 non-null object
business_id     93359 non-null object
stars_x         93359 non-null int64
date            93359 non-null object
text            93359 non-null object
useful          93359 non-null int64
funny           93359 non-null int64
cool            93359 non-null int64
name            93359 non-null object
neighborhood    93172 non-null object
address         93359 non-null object
city            93359 non-null object
state           93359 non-null object
postal_code     93264 non-null object
latitude        93359 non-null float64
longitude       93359 non-null float64
stars_y         93359 non-null float64
review_count    93359 non-null int64
is_open         93359 non-null int64
categories      93359 non-null object
dtypes: float64(3), int64(6), object(12)
memory usage: 15.0+ MB

In [81]:
#extract only the user_id, business_id and stars_x which is the user rating.
restaurants_MT_CF = restaurants_MT[['user_id', 'business_id', 'stars_x']]

In [82]:
restaurants_MT_CF.head()

                  user_id             business_id  stars_x
0  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA        5
1  xYciRtVZ1PW4IxSX4oJ1aw  AEx2SYEUJmTxVVB18LlCwA        5
2  5Ymfsf9fAYz-Ds_p0xawVQ  AEx2SYEUJmTxVVB18LlCwA        5
3  DVOOF0Z627DyrZ4XKQbTgA  AEx2SYEUJmTxVVB18LlCwA        5
4  5JoKz3mU42Cp906KRXDwJw  AEx2SYEUJmTxVVB18LlCwA        4

In [83]:
# get a dataframe of users with more than 10 reviews 

vc = restaurants_MT_CF.user_id.value_counts()

list_of_users = vc[vc >10]

df1 = pd.DataFrame(list_of_users )
df1 = df1.reset_index()
df1.columns = ['user_id','count']
df1

                     user_id  count
0     Wc5L6iuvSNF5WGBlqIO8nw    384
1     qKpkRCPk4ycbllTfFcRbNw    267
2     3aYeG-x5A44GIgmBHrwyAA    220
3     6MM9Yqn7UBM8tmpSHQHAAg    205
4     La1ggB37gvq6UWpEWaMtMA    184
5     UDFIZXP0kOb2xKoYToTS6w    170
6     U1vl4SQzO3wTAWlYVnSjnw    169
7     XOgqs74hkbXT54mSp7JMRA    159
8     ILe3tzgnbGSaZfpArtJdjA    158
9     ZD76B53WiEdv3g2lNgTbNg    148
10    pEzb9RfmnD2zn5wUPpdmzg    143
11    YVaONBBT9lSJQwBPWCB0qQ    138
12    c7C5QziJbx6JOnQFiOxUXQ    137
13    sFJjEc7ytSUV28Y7PpdMjQ    123
14    aNfG4yqETNKXNQgc2qTToA    123
15    sKVpHfhkG_Nvgf_Vfb91Cg    122
16    D2d7s-UGkDfjTEjkViTNxQ    118
17    iqQBsjqOF9xgIAbsZ2sAZA    118
18    KBHTIaz-OdXukREefkP4qg    114
19    3H5Ty7TV7SZvZLa1oTUGDg    113
20    3vGiPNH4yCAj88-kfdvbjw    109
21    7Ri5xkuj6rMvD8F2zjWFow    109
22    _4NHePAXLhcloTD04wqpqw    109
23    xRYvFaMGWsvKcLCFtRIzWQ    107
24    U95wccXN_J8JwA5Ktlu8tw    106
25    cqgjW23FJyu5kFlRDN1CpQ    105
26    Zoec9wehLFa8CV1JnCCVug    105
27    bcalCCwEIM3FVhx7amRawQ    104
28    LrsX8ioOG6GEIHfsXI_9GA    102
29    Bveyuu-GqeQMf8ereY2I2g    102
...                      ...    ...
1105  WC1m2B-bXg1g57AyvzAL-Q     11
1106  ZGmjA3NrrmcHVX3SoAWaZw     11
1107  0tf14Cq5NU3PBINpEDXZdQ     11
1108  7nF4Us5J7xvJkVwB32r5TA     11
1109  p5AXKTixc9NleUnSizZJcg     11
1110  eoHmSfOX6LgsP8fo4dCLiw     11
1111  YTdNcIWAt2nEzZ7NY-fniw     11
1112  UiU_yqwSQwTZdw3vxD_Aag     11
1113  m0k4qKrajeg3libJmOSE3g     11
1114  _weyOTpGJI9lr8FQk-6KPQ     11
1115  P_n7r_z0AL8uBUjk5ErEsw     11
1116  1qeySudzjk5IFwqwGa_Vtw     11
1117  jrV3hEXXYstsjyrYDB2eWg     11
1118  229XN3DEk9bLKc7RP9juSQ     11
1119  u7fT7qDPbj8nfZMS5ZiIdw     11
1120  wazWs5WpW2lSzvYkkmP9yA     11
1121  D5y8TWZRGW2G9AIw8He6dg     11
1122  E8vKpkKTX4GGzxPPuxr77Q     11
1123  a5iX0JQhnyFoAVipBh-Cag     11
1124  1Fz81SDs6kLN6ZiSL0vdmw     11
1125  69AqMB6P3sI5v2IK_I376A     11
1126  foC7W9iCzvopo9LVLFAvqg     11
1127  xuuKsPQqXMUi-7WhtzOSAA     11
1128  Sd357RRT7uLQ3v52aQaLqw     11
1129  rztxnI_Uh_izxvq2hFzfrQ     11
1130  mfVvFwYoVs_WVCoojz8JrA     11
1131  F1CxK5sx7Wp1Zi3qgPjHUQ     11
1132  5K5Q1vtAJi3o6WsB4ZPsjw     11
1133  gT9vAWbO0c_X0b4_hQcDaA     11
1134  IWZweDQUlsKfLS1_olQqlA     11

[1135 rows x 2 columns]

In [84]:
df1.shape

(1135, 2)

In [85]:
#merge the dataframes
result = pd.merge(restaurants_MT_CF, df1, how='left', on='user_id')
# drop those users that have less than 10 reviews
restaurants_MT_CF = result.dropna()

In [86]:
restaurants_MT_CF.head()

                   user_id             business_id  stars_x  count
2   5Ymfsf9fAYz-Ds_p0xawVQ  AEx2SYEUJmTxVVB18LlCwA        5   26.0
3   DVOOF0Z627DyrZ4XKQbTgA  AEx2SYEUJmTxVVB18LlCwA        5   11.0
8   NGLufCod1pP760aBucp3tw  AEx2SYEUJmTxVVB18LlCwA        3   79.0
9   mYQmaTeWp87sGnE-rHvIOw  AEx2SYEUJmTxVVB18LlCwA        5   34.0
11  06hNNsVZO78El38qNJaETA  AEx2SYEUJmTxVVB18LlCwA        5   20.0

#  Spilt to training and testing data matrix

In [87]:
# spilt the data to train and test data
train_data, test_data = cv.train_test_split(restaurants_MT_CF, test_size=0.2)

In [88]:
print train_data.shape
print test_data.shape

(25720, 4)
(6431, 4)

In [89]:
#Create two user-item matrices, one for training and another for testing

# first create the train data
train_data_matrix = train_data.pivot_table(values = 'stars_x', index = 'user_id', columns = 'business_id')  

# # mean centre
# train_data_matrix = train_data_matrix.apply(lambda x: x-x.mean(),axis =1)

# Replace NaNs with 0s
train_data_matrix.fillna(0, inplace = True)

 
# secondly create the test data
test_data_matrix = test_data.pivot_table(values = 'stars_x', index = 'user_id', columns = 'business_id')  

# # mean centre
# test_data_matrix = test_data_matrix.apply(lambda x: x-x.mean(),axis =1)

# Replace NaNs with 0s
test_data_matrix.fillna(0, inplace = True)

In [90]:
# make to array
train_data_matrix = train_data_matrix.values
test_data_matrix = test_data_matrix.values

# Cosine similarity calculations for CF

In [91]:
# calculating the cosine_similarity of User User and Item Item

user_similarity = cosine_similarity(train_data_matrix)
item_similarity = cosine_similarity(train_data_matrix.T)

In [92]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [93]:
# Predict ratings on the training data with both similarity score
user_prediction = predict(train_data_matrix, user_similarity, type='user')
item_prediction = predict(train_data_matrix, item_similarity, type='item')

# Evaluating the CF model

In [94]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore zero terms values
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))

In [95]:
# RMSE on the test data
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 3.9158837691
Item-based CF RMSE: 3.9009207281

In [96]:
# RMSE on the train data
print('User-based CF RMSE: ' + str(rmse(user_prediction, train_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, train_data_matrix)))

User-based CF RMSE: 3.47152516754
Item-based CF RMSE: 3.40905936155

In [97]:
#predicting for CF models

# Evaluating the SVD model

In [98]:
from surprise import Reader, Dataset

reader = Reader(rating_scale=(1.0, 5.0))
data = Dataset.load_from_df(restaurants_MT_CF[['user_id', 'business_id', 'stars_x']], reader)

# Split data into 5 folds

data.split(n_folds=5)


from surprise import SVD, evaluate
from surprise import NMF, KNNBasic

# svd Mean RMSE: 0.9766
algo = SVD()
evaluate(algo, data, measures=['RMSE'])

# # nmf Mean RMSE: 1.0924
# algo = NMF()
# evaluate(algo, data, measures=['RMSE'])

# #KNNBasic Mean RMSE: 1.0715
# algo = KNNBasic() 
# evaluate(algo, data, measures=['RMSE'])

C:\anaconda\envs\python2\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\anaconda\envs\python2\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE of algorithm SVD.

------------
Fold 1
RMSE: 0.9653
------------
Fold 2
RMSE: 0.9761
------------
Fold 3
RMSE: 0.9811
------------
Fold 4
RMSE: 0.9942
------------
Fold 5
RMSE: 0.9815
------------
------------
Mean RMSE: 0.9796
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9653381256769874,
                             0.9760596953087958,
                             0.9810672305633755,
                             0.9941985258670618,
                             0.9815122921418339]})

# Predicting for SVD models

In [101]:
# Retrieve the trainset.
trainset = data.build_full_trainset()
algo.train(trainset)

C:\anaconda\envs\python2\lib\site-packages\surprise\prediction_algorithms\algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

In [102]:
restaurants_MT_CF = restaurants_MT_CF.reset_index().drop(['count','index'],axis=1)

In [103]:
restaurants_MT_CF

                      user_id             business_id  stars_x
0      5Ymfsf9fAYz-Ds_p0xawVQ  AEx2SYEUJmTxVVB18LlCwA        5
1      DVOOF0Z627DyrZ4XKQbTgA  AEx2SYEUJmTxVVB18LlCwA        5
2      NGLufCod1pP760aBucp3tw  AEx2SYEUJmTxVVB18LlCwA        3
3      mYQmaTeWp87sGnE-rHvIOw  AEx2SYEUJmTxVVB18LlCwA        5
4      06hNNsVZO78El38qNJaETA  AEx2SYEUJmTxVVB18LlCwA        5
5      0TJ01iwzVLXtr_EYcfqoWQ  AEx2SYEUJmTxVVB18LlCwA        5
6      aU6Mq536aI1r_BunJE-V2w  AEx2SYEUJmTxVVB18LlCwA        4
7      FWo1hSUugKWFQwr5IpCANw  AEx2SYEUJmTxVVB18LlCwA        5
8      XduciX-f9ONDZ-rUhs3PfQ  AEx2SYEUJmTxVVB18LlCwA        3
9      RxPndFw7sdSX4hWMbIJBGQ  AEx2SYEUJmTxVVB18LlCwA        4
10     pEzb9RfmnD2zn5wUPpdmzg  AEx2SYEUJmTxVVB18LlCwA        4
11     vGohRKrqPgCJak3Jp6nGMA  AEx2SYEUJmTxVVB18LlCwA        4
12     JMP9JY5JV2HfWn8ClTBb6A  AEx2SYEUJmTxVVB18LlCwA        4
13     6yNwk5i7LtEmW3dULoaKog  AEx2SYEUJmTxVVB18LlCwA        5
14     P8hKMc73rWhEnXNV-qA7DA  AEx2SYEUJmTxVVB18LlCwA        4
15     KEBvAP-lG8oOUaX4coq0cg  AEx2SYEUJmTxVVB18LlCwA        5
16     x8DD07PHJ1CHO8qic4QOgA  AEx2SYEUJmTxVVB18LlCwA        5
17     j58hmvZSFl77g5m1TXIj5w  AEx2SYEUJmTxVVB18LlCwA        1
18     Wc5L6iuvSNF5WGBlqIO8nw  AEx2SYEUJmTxVVB18LlCwA        5
19     La1ggB37gvq6UWpEWaMtMA  AEx2SYEUJmTxVVB18LlCwA        4
20     RrvBEf3Dwk57-6s0fJZwFw  AEx2SYEUJmTxVVB18LlCwA        2
21     CxDOIDnH8gp9KXzpBHJYXw  AEx2SYEUJmTxVVB18LlCwA        4
22     MQq_1AlcDWsyNs7Ot8J4OQ  AEx2SYEUJmTxVVB18LlCwA        4
23     XOgqs74hkbXT54mSp7JMRA  AEx2SYEUJmTxVVB18LlCwA        4
24     GHoG4X4FY8D8L563zzPX5w  AEx2SYEUJmTxVVB18LlCwA        5
25     UEnYJHYMSsCaTh1pF-XFEA  AEx2SYEUJmTxVVB18LlCwA        1
26     wwPSdOrW0jVNgzr8whD0Jw  AEx2SYEUJmTxVVB18LlCwA        5
27     1O638BDK_fWuxgTVJwff-A  AEx2SYEUJmTxVVB18LlCwA        4
28     KNRwbAKYzHXjaWGQJc_pTg  AEx2SYEUJmTxVVB18LlCwA        3
29     LL0zO4cQUjCqqOM9CbvnQg  AEx2SYEUJmTxVVB18LlCwA        5
...                       ...                     ...      ...
32121  XOgqs74hkbXT54mSp7JMRA  O5QeA5coMVcCTkCVyv7sMA        4
32122  1Nkuhh-HOUB7XUfgImWxmw  O5QeA5coMVcCTkCVyv7sMA        4
32123  Wj-1G4qcyo1dcqIjhnpL8w  O5QeA5coMVcCTkCVyv7sMA        3
32124  wwPSdOrW0jVNgzr8whD0Jw  JrR8X7AST5ZkWEfXqlIBmA        5
32125  6MM9Yqn7UBM8tmpSHQHAAg  JrR8X7AST5ZkWEfXqlIBmA        5
32126  NaT1wuPX37AVAHaPYISKqA  a7shUJaC5xM_BHODzuCR9Q        4
32127  ujOwZo999jM6bhkSXOX61w  a7shUJaC5xM_BHODzuCR9Q        3
32128  7Ri5xkuj6rMvD8F2zjWFow  a7shUJaC5xM_BHODzuCR9Q        3
32129  980MSuSR9dcF-Lassdy5Ow  yrlC-vNCSKt5oSFF0s0VAg        4
32130  iqQBsjqOF9xgIAbsZ2sAZA  yrlC-vNCSKt5oSFF0s0VAg        4
32131  sFJjEc7ytSUV28Y7PpdMjQ  hloS23Thw57IITw7_DLLOQ        3
32132  A5FnteBcoOCdydcHxgpfIw  YgZHRVrqkFBDsqK6VEvfrQ        4
32133  7Ri5xkuj6rMvD8F2zjWFow  YgZHRVrqkFBDsqK6VEvfrQ        3
32134  4Tn7FjgPgCt-uPluEw1ynA  0begTEvawkH5I-xK-28Ong        3
32135  R0lfYlL4NbE8i8ZzW19muA  eAOWvwdmCKIgFYx1aryoZA        4
32136  Z7xuJ9P_rMtBvi4aFmP7zw  eAOWvwdmCKIgFYx1aryoZA        2
32137  U1vl4SQzO3wTAWlYVnSjnw  rxAeRz4i2PFyB1FvWfqOOQ        5
32138  Jon2aajFsTLdHUzVlsDFhQ  rxAeRz4i2PFyB1FvWfqOOQ        4
32139  zhg-j5H6UsCd_DnpvNIprA  xZW9EnUBx4A5eIR-H6OAxw        3
32140  wvkAp_FO_u2S0mklkIa93w  Fkoe4BS3Z6TR6vDyUSBW6A        1
32141  zIOxNinC6ofIwwGjO9rUWg  Fkoe4BS3Z6TR6vDyUSBW6A        5
32142  7Ri5xkuj6rMvD8F2zjWFow  ryMOzHutHot4MKiUlH359Q        3
32143  c7C5QziJbx6JOnQFiOxUXQ  BVTUd8N1xM4y3GcOygfMOA        1
32144  bt9GKJJLTo75tu_13SfCLQ  JyUiEy4LyAs7Yq7lWzl7rg        3
32145  RpG_9KuJKrvwymua9L8VuQ  JyUiEy4LyAs7Yq7lWzl7rg        3
32146  ujOwZo999jM6bhkSXOX61w  Pr7DBM2aMXfnmiYyf5H4-Q        3
32147  DG7fYMcTdl0OE6B2mRfqMA  Pr7DBM2aMXfnmiYyf5H4-Q        4
32148  4Tn7FjgPgCt-uPluEw1ynA  Pr7DBM2aMXfnmiYyf5H4-Q        5
32149  l_mzAt0S-GkY8aOsDBTAjA  LRutQ1JxycXkjKeYot5fRQ        5
32150  aYL7qtwOMdzYayaddq_Hnw  z1ShRxKgVG5UUZnD_R73rQ        2

[32151 rows x 3 columns]

In [169]:
#selecting a random user to test
x = np.random.randint(len(restaurants_MT_CF))
users= restaurants_MT_CF['user_id']
random_user = users.iloc[x]
#selecting a random restaurant from the random user to test
y = np.random.randint(len(restaurants_MT_CF[restaurants_MT_CF['user_id'] == random_user]))
titles= restaurants_MT_CF[restaurants_MT_CF['user_id'] == random_user]['business_id']
stars =  restaurants_MT_CF[restaurants_MT_CF['user_id'] == random_user]['stars_x']
random_restaurant = titles.iloc[y]
stars = stars.iloc[y]

# Predict a certain item

userid = random_user
itemid = random_restaurant
actual_rating = stars
print(algo.predict(userid, itemid, actual_rating))

user: FQo8HxOxlhMgDQod9NwfHQ item: f-GwGqmGJ17F6w5CXcZkSg r_ui = 4.00   est = 3.79   {u'was_impossible': False}

In [170]:
rand_df = restaurants_MT_CF[restaurants_MT_CF['user_id'] == random_user]
rand_df[rand_df['business_id'] == random_restaurant]

                      user_id             business_id  stars_x
18850  FQo8HxOxlhMgDQod9NwfHQ  f-GwGqmGJ17F6w5CXcZkSg        4